#perm_redis_admin .perm_redisLoading {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.4); }
  #perm_redis_admin .perm_redisLoading > div {
    background-color: white;
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 30% auto 0; }

#perm_redis_admin .perm_redis_form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll; }
  #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper {
    display: block;
    background-color: white;
    width: 600px;
    margin: 50px  auto;
    position: relative; }
    #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper a.close {
      display: block;
      font-size: 18px;
      color: white;
      background: #c03131;
      padding: 5px 10px;
      position: absolute;
      top: 0;
      right: 0; }
    #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper .buttons-control {
      padding: 10px;
      text-align: right; }
      #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper .buttons-control button {
        padding: 10px;
        min-width: 120px;
        cursor: pointer;
        display: inline-block; }
        #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper .buttons-control button[type=submit] {
          background-color: #008CBA;
          color: white; }
    #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section {
      padding: 10px;
      background: rgba(128, 128, 128, 0.5); }
      #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section:nth-child(even) {
        background: white; }
      #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section legend {
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        font-size: 1rem;
        margin-bottom: 20px;
        text-transform: uppercase; }
      #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section textarea {
        width: 100%;
        display: block;
        margin-top: 5px; }
      #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section ul {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex; }
        #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section ul li {
          flex: 1;
          padding: 5px; }
          #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section ul li label input, #perm_redis_admin .perm_redis_form .perm_redis_form_wrapper section ul li label select {
            width: 100%;
            margin-top: 5px;
            display: block; }

#perm_redis_admin > * {
  box-sizing: border-box; }

#perm_redis_admin a {
  text-decoration: none; }

#perm_redis_admin .text-center {
  text-align: center; }

#perm_redis_admin .text-right {
  text-align: right; }

#perm_redis_admin .panel {
  width: 100%;
  border: 1px solid black;
  background: white; }
  #perm_redis_admin .panel h2 {
    padding: 0;
    margin: 0; }
  #perm_redis_admin .panel > div {
    padding: 20px; }
  #perm_redis_admin .panel .panel-heading {
    text-align: center; }

#perm_redis_admin table {
  width: 100%;
  border-collapse: collapse; }
  #perm_redis_admin table thead {
    background-color: #f0f0f0; }
  #perm_redis_admin table tr:nth-child(even) {
    background: #ededed; }
  #perm_redis_admin table tr th, #perm_redis_admin table tr td {
    padding: 10px;
    text-align: left; }
