#perm_redis_admin{
    .perm_redisLoading
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        background-color: rgba(black, .4);
        &>div{
            background-color: white;
            width: 200px;            
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            margin: 30% auto 0;
        }
    }
    & > * { box-sizing: border-box }
    a{ text-decoration: none; }
    .text-center{text-align: center}
    .text-right{text-align: right}    
    .panel{
        width: 100%;
        border: 1px solid black;
        background: white;
        h2{
            padding: 0;
            margin: 0;
        }
        & > div{
            padding: 20px;
        }
        .panel-heading{            
            text-align: center;
        }
    }
    table{
        width: 100%;        
        border-collapse: collapse;
        thead{
            background-color: #f0f0f0;
        }
        tr{
            &:nth-child(even){                
                background: #ededed;
            }
            th, td{
                padding: 10px;
                text-align: left;
            }
            
        }
    }
}