<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../inc/css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../inc/script/utils.js"></script>
    <script src="../inc/script/admin.js"></script>
</head>
<body>
    <div class="wrap" id="perm_redis_admin">
        <div class="panel">
            <div class="panel-heading">
                <h2>Cadastro de Permutas e Redistribuições</h2>
            </div>
            <div class="panel-content">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Lotação</th>
                            <th>Cargo</th>
                            <th>Data de cadastro</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Givailson</td>
                            <td>givailson@gmail.com</td>
                            <td>Monumenta</td>
                            <td>Programador</td>
                            <td>22/12/2018</td>
                            <td class="text-center">
                                <a href="">
                                    <span class="dashicons dashicons-edit"></span>
                                </a>
                                |
                                <a href="">
                                    <span class="dashicons dashicons-trash"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Givailson</td>
                            <td>givailson@gmail.com</td>
                            <td>Monumenta</td>
                            <td>Programador</td>
                            <td>22/12/2018</td>
                            <td class="text-center">
                                <a title="Editar" href="">
                                    <span class="dashicons dashicons-edit"></span>
                                </a>
                                |
                                <a title="excluir" href="">
                                    <span class="dashicons dashicons-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>