<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Permutas & Redistribuições</title>
    <link rel="stylesheet" href="{PATH_PLUGIN}/inc/css/admin.css">    
    <script>window.BASE_URL = "{PATH_SERVICE}/?rest_route=/perm-redis" </script>
    <script src="{PATH_PLUGIN}/inc/script/utils.js"></script>
    <script src="{PATH_PLUGIN}/inc/script/admin.js"></script>
</head>
<body>
    <div class="wrap" id="perm_redis_admin">
        <div class="panel">
            <div class="panel-heading">
                <h2>Cadastro de Permutas e Redistribuições</h2>
            </div>
            <div class="panel-content">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Lotação</th>
                            <th>Cargo</th>
                            <th>Data de cadastro</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="perm_redisLoading">
            <div>
                <p>Aguarde...</p>
            </div>
        </div>
    </div>
</body>
</html>