<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Permutas & Redistribuições</title>
    <link rel="stylesheet" href="{PATH_PLUGIN}/inc/css/main.css">    
    <script>window.BASE_URL = "{PATH_SERVICE}/?rest_route=/perm-redis" </script>
    <script src="{PATH_PLUGIN}/inc/script/utils.js"></script>
    <script src="{PATH_PLUGIN}/inc/script/main.js"></script>
</head>
<body>
    <div id="perm_redis_main">
        <div class="anuncios-content">
            <!-- conteúdo a ser carregado pelo serviço de load !-->
        </div>
    </div>
</body>
</html>